<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/src/main.css">
    <link rel="stylesheet" href="/static/css/input.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Tilt+Neon&family=Zeyada&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/Images/favicon-32x32.png">
    <title>Heartcrafted.com</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
    }
</style>

<body class="h-full w-full">
    <!-- class = "sensual_#050505 #610C27 #AC9C8D #E3C1B4 #DDD9CE #EFECE9" _davis humphries design color palette-->
    <section class="header z-[9000] relative">
        <div class="header font-normal bg-desertsand">
            <h1 class="font-cusive font-medium text-6xl text-center p-4 text-cosmos"> Heartcrafted.com</h1>
            <div class="bg-cosmos">
                <h6 class="font-mont font-medium text-center p-1 text-lg text-desertsand"> KNOTS | THREADS | COLOURS |
                    EMOTIONS</h6>
            </div>
        </div>
    </section>
    <section class="content1 bg-desertsand w-full  ">
        <div class="font-mont text-3xl text-vampireblack pt-32 h-[150vh]  text-center border-b-2 border-cosmos">
            <h1> <span class="text-[16rem]  font-bold text-cosmos"> O </span> <br><br> <br><br> <span
                    class="text-[16rem]  font-bold text-cosmos"> U </span> <br><br> <br> <br> <span
                    class="text-[16rem]  font-bold text-cosmos"> R </span> <br> <span
                    class="text-9xl font-normal">MERCHANDISE</span> </h1>
        </div>
        <div class="w-full">
            <img src="/static/Images/Scrunchie2-removebg-preview.png" alt=""
                class=" absolute top-72 left-[14rem] z-10 skew-x-12 w-80  animate-bounce-slow">
            <img src="/static/Images/a_scrunchie-removebg-preview.png" alt=""
                class=" absolute top-60 left-[58%] z-10 skew-y-12 w-64  animate-bounce-slow ">
            <img src="/static/Images/bs-removebg-preview.png" alt=""
                class=" absolute top-[28rem] left-[0rem] skew-y-12 z-10 w-64 animate-bounce-slow">
            <img src="/static/Images/lavender.png" alt=""
                class=" absolute top-[5rem] left-[-2rem] skew-y-12 z-10 w-72 animate-bounce-slow">
            <img src="/static/Images/blues.png" alt=""
                class=" absolute top-16 left-[67rem] z-10 w-64 animate-bounce-slow">
            <img src="/static/Images/pink.png" alt=""
                class=" absolute top-[70%] left-[80%] z-10 w-64 animate-bounce-slow">
            <img src="/static/Images/brush1-removebg-preview.png" alt=""
                class=" absolute top-48 left-[26.5rem] z-0 animate-pulse-slow">
            <img src="/static/Images/colorpallete-removebg-preview.png"
                class=" absolute top-[39rem] left-[44%] z-10 w-40 -rotate-12  animate-bounce-slow" alt="">
            <img src="/static/Images/t2_prev_ui.png" alt=""
                class=" absolute top-[40rem] left-[54%] z-10 animate-pulse-slow">
            <img src="/static/Images/plblues.png" alt=""
                class=" absolute top-[45rem] left-[0rem] z-10 w-60 animate-bounce-slow">
        </div>
        <div class="flex gap-20 items-center justify-center  absolute top-[61rem] left-80 ">
            <div class="flex gap-8 items-center justify-center">
                <div class="flex-col items-center">
                    <!-- <img src="/static/Images/Scrunchies.jpg" class="rounded-lg w-52 shadow-2xl m-4 ml-0" alt=""> -->
                    <a href="/">
                        <p
                            class="font-cusive text-2xl text-center bg-cosmos text-timberwolf rounded-lg m-4 p-4 w-48  hover:bg-vampireblack hover:text-alabaster hover:cursor-pointer">
                            Scrunchies</p>
                    </a>
                </div>
                <div class="flex-col">
                    <!-- <img src="/static/Images/bracelet.jpg" class="rounded-lg w-52 shadow-2xl m-4" alt=""> -->
                    <a href="/">
                        <p
                            class="font-cusive text-2xl text-center bg-cosmos text-timberwolf rounded-lg m-4 p-4  w-48 hover:bg-vampireblack hover:text-alabaster hover:cursor-pointer">
                            Bracelets</p>
                    </a>
                </div>
                <div class="flex-col">
                    <!-- <img src="/static/Images/canvas.jpg" alt="" class="rounded-lg w-52 shadow-2xl m-4"> -->
                    <a href="/">
                        <p
                            class="font-cusive text-2xl text-center bg-cosmos text-timberwolf rounded-lg m-4 p-4 w-48 hover:bg-vampireblack hover:text-alabaster hover:cursor-pointer">
                            canvases</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="bg-gradient-to-r from-timberwolf via-desertsand to-grullo flex  gap-8">
            <img src="/static/Images/gift box.png" alt="" class="w-6/12">
            <div>
                <h1 class="font-normal text-4xl font-semibold pt-20"> <span
                        class="font-normal text-9xl font-semibold text-cosmos">Surprise </span> <br> your <br><span
                        class="font-satisfy text-7xl font-semibold text-cosmos"> nearest & dearest </span> <br> with a
                    <br> <span class="font-normal text-5xl font-semibold text-cosmos">personalized gift!</span> </h1>
                <div class="pt-20"> <a href="/">
                        <p
                            class=" font-semibold font-mont bg-vampireblack text-timberwolf hover:bg-cosmos hover:text-desertsand hover:cursor-pointer p-4 w-36 hover:shadow-2xl">
                            SHOP NOW !</p>
                    </a> </div>
            </div>
        </div>
    </section>
    <section class="bg-alabaster  bg-sewing bg-left bg-cover bg-no-repeat w-full">
        <div class="flex flex-row gap-0 items-center justify-start p-4">
            <!-- <div class="flex w-1/3">
                <img src="/static/Images/" alt="" class="">
                <img src="/static/Images/scissor-removebg-preview.png" alt="" class="w-40">
            </div> -->
            <div class="bg-cosmos p-8 m-4 rounded-md w-1/2">
        <h2 class="font-cusive font-medium text-2xl text-desertsand border-b-2 border-b-desertsand">Place your Order here !</h2>
        <form action="#" method="post" class="font-mont text-lg py-4 text-desertsand font-extralight">
          <label for="name" >Name :</label><br>
          <input class="w-full rounded-md mt-2 text-vampireblack font-normal p-2" type="text" id="name" name="name" required placeholder="Suhana Attar"><br><br>
          
          <label for="email">Email ID :</label><br>
          <input class="w-full rounded-md mt-2 text-vampireblack font-normal p-2" type="email" id="email" name="email" required placeholder="suhanaattar@gmail.com"><br><br>
          
          <label for="contact">Contact Number :</label><br>
          <input class="w-full rounded-md mt-2 text-vampireblack font-normal p-2" type="tel" id="contact" name="contact" required placeholder="1234567890"><br><br>
          
          <label for="product">Select Product :</label><br>
          <select class="w-full rounded-md mt-2 text-vampireblack font-normal p-2" id="product" name="product" required placeholder="What you wanna buy ?"> 
            <option value="scrunchies">Scrunchies</option>
            <option value="bracelets">Bracelets</option>
            <option value="canvases">Customized Canvases</option>
          </select><br><br>
          
          <label for="deadline">Deadline to Receive Product :</label><br>
          <input class="w-full rounded-md mt-2 text-vampireblack font-normal p-2" type="date" id="deadline" name="deadline" required placeholder="select date"><br><br>
          
          <label for="message">Message  :</label><br>
          <textarea class="w-full rounded-md mt-2 text-vampireblack font-normal p-2" id="message" name="message" rows="4" cols="50"placeholder="if any"></textarea><br><br>
          
          <input class="rounded-sm p-3 border-2 border-desertsand hover:border-desertsand hover:border-2 hover:bg-cosmos hover:text-desertsand bg-desertsand text-cosmos font-bold font-cusive"type="submit" value="Order Now">
        </form>
    </div>
    </div>
    </section>
    <section class="footer">
        <div class="flex justify-start items-center bg-vampireblack">
        <div class="h-full bg-vampireblack p-8 py-10 border-r-[1px] border-grullo my-0">
            <div class=" ">
                    <a href="/">
                        <p class="text-vampireblack font-mont text-xl font-semibold p-4 bg-grullo w-44 ml-4 mb-4 hover:bg-desertsand hover:text-cosmos text-center rounded-sm">CONTACT US</p>
                    </a>
                    <p class="text-grullo font-mont text-xl p-4 pb-2 hover:text-alabaster">FIND US ON - </p>
                </div>
                <div class="flex gap-4 justify-start items-center p-4 pt-2">
                    <a href="/"><img src="/static/Images/instagram.png" alt="" class="w-12 bg-alabaster m-1 p-2 hover:bg-grullo rounded-xl"></a>
                    <a href="/"><img src="/static/Images/mail-inbox-app.png" alt="" class="w-12 bg-alabaster m-1 p-2 hover:bg-grullo rounded-xl"></a>
                    <a href="/"><img src="/static/Images/telegram.png" alt="" class="w-12 bg-alabaster m-1 p-2 hover:bg-grullo rounded-xl"></a>
                    <a href="/"><img src="/static/Images/twitter.png" alt="" class="w-12 bg-alabaster m-1 p-2 hover:bg-grullo rounded-xl"></a>
                    <a href="/"><img src="/static/Images/whatsapp.png" alt="" class="w-12 bg-alabaster m-1 p-2 hover:bg-grullo rounded-xl"></a>
                    <a href="/"><img src="/static/Images/youtube.png" alt="" class="w-12 bg-alabaster m-1 p-2 hover:bg-grullo rounded-xl"></a>
                    <div>
                    </div>
                </div>
            </div>
            <div>
                <div  class="p-12 border-r-[1px] border-grullo my-6  text-center">
                    <a href="/">
                        <p class="text-vampireblack font-mont text-xl font-semibold p-4 m-8 ml-16 mt-0 mb-12 bg-grullo w-36 hover:bg-desertsand hover:text-cosmos rounded-sm">ABOUT US</p>
                    </a>
                    <div class=" m-0">
                        <h1 class="font-cusive font-medium text-2xl text-center p-4 text-cosmos bg-desertsand"> Heartcrafted.com</h1>
                        <div class="bg-cosmos">
                            <h6 class="font-mont font-medium text-center p-1 text-xs text-timberwolf"> KNOTS | THREADS | COLOURS |
                                EMOTIONS</h6>
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="p-6 ml-12 ">
                <a href="/" class="text-grullo hover:text-alabaster font-mont m-1 p-2 ">SCRUNCHIES <br> <br></a>
                <a href="/" class="text-grullo hover:text-alabaster font-mont m-1 p-2 ">BRACELETS <br> <br></a>
                <a href="/" class="text-grullo hover:text-alabaster font-mont m-1 p-2 ">CANVASES <br> <br></a>
                <a href="/" class="text-grullo hover:text-alabaster font-mont m-1 p-2 ">GIFT YOUR WAY!</a>
            </div>
        </div>
        <div class="h-10 bg-cosmos text-desertsand text-center font-normal">
            <p class="text-sm p-2"> &copy; 2024 |  Heartcrafted.com  | All rights reserved.</p>
        </div>
    </section>
</body>

</html>