<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/src/main.css">
    <link rel="stylesheet" href="/static/css/input.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Tilt+Neon&family=Zeyada&display=swap"
        rel="stylesheet">

    <title>Heartcrafted.com</title>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
    }
</style>
<body class="w-full h-full">
    <!-- class = "sensual_#050505 #610C27 #AC9C8D #E3C1B4 #DDD9CE #EFECE9" _davis humphries design color palette-->
    <section class="header">
        <div class="header font-normal bg-desertsand">
            <h1 class="font-cusive font-medium text-6xl text-center p-4 text-cosmos"> Heartcrafted.com</h1>
            <div class="bg-cosmos">
                <h6 class="font-mont font-medium text-center p-1 text-lg text-desertsand"> KNOTS  |  THREADS  |  COLOURS  |  EMOTIONS</h6>
            </div>
        </div>
    </section>
    <section class="content bg-alabaster">
        <div class="flex gap-20 border-b-2 border-cosmos">
        <div class="bg-vampireblack">
            <div class="font-mont text-3xl text-alabaster p-10">
                <h1> <span class="text-9xl text-left font-extrabold text-grullo"> O </span> <br><span class="text-9xl text-left font-extrabold text-desertsand"> U </span> <br><span class="text-9xl text-left font-extrabold text-timberwolf"> R </span>  <br><span class="text-5xl" >MERCHANDISE</span> </h1>
            </div>
        </div>
        <div class="flex gap-8 items-center justify-center">
            <div class="flex-col">
                <img src="/static/Images/Scrunchies.jpg" class="rounded-lg w-52 shadow-2xl m-4 ml-0" alt="">
                <a href="/"><p class="font-cusive text-2xl text-center bg-cosmos text-timberwolf rounded-lg m-4 p-4">Scrunchies</p></a>
            </div>
            <div class="flex-col">
                <img src="/static/Images/bracelet.jpg" class="rounded-lg w-52 shadow-2xl m-4" alt="">
                <a href="/"><p class="font-cusive text-2xl text-center bg-cosmos text-timberwolf rounded-lg m-4 p-4">Bracelets</p></a>
            </div>
            <div class="flex-col">
                <img src="/static/Images/canvas.jpg" alt="" class="rounded-lg w-52 shadow-2xl m-4">
                <a href="/"><p class="font-cusive text-2xl text-center bg-cosmos text-timberwolf rounded-lg m-4 p-4">canvases</p></a>
            </div>
        </div>
    </div>
    <div class="bg-alabaster flex  gap-8">
        <img src="/static/Images/gift box.png" alt="" class="w-6/12">
        <div>
        <h1 class="font-normal text-4xl font-semibold pt-20" > <span class="font-normal text-9xl font-semibold text-cosmos">Surprise </span> <br> your <br><span class="font-satisfy text-7xl font-semibold text-cosmos" > nearest & dearest </span> <br> with a <br> <span class="font-normal text-5xl font-semibold text-cosmos">personalized gift!</span> </h1>
           <div class="pt-20" > <a href="/"><p class=" font-semibold font-mont bg-vampireblack text-timberwolf hover:bg-timberwolf hover:text-vampireblack p-4 w-36 hover:shadow-2xl" >SHOP NOW !</p></a> </div>
    </div>
    </div>
    </section>
    <section class="footer">
        <div class="h-full">

        </div>
    </section>
</body>

</html>