<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/src/main.css">
        <link rel="stylesheet" href="/static/css/input.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Tilt+Neon&family=Zeyada&display=swap"
            rel="stylesheet">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/Images/favicon-32x32.png">
        <title>Heartcrafted.com</title>
    </head>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
    </style>
<body class="h-full w-full bg-desertsand">
    <section class="header z-[9000] relative">
        <div class="header font-normal bg-desertsand">
            <h1 class="font-cusive font-medium text-6xl text-center p-4 text-cosmos"> Heartcrafted.com</h1>
            <div class="bg-cosmos">
                <h6 class="font-mont font-medium text-center p-1 text-lg text-desertsand"> KNOTS | THREADS | COLOURS |
                    EMOTIONS</h6>
            </div>
        </div>
    </section>
    <section class="content bg-cosmos m-10 p-4 rounded shadow-2xl">
        <div class="bg-alabaster p-4 rounded">
            <h1 class="font-mont font-semibold text-5xl text-center p-8 pb-2 hover:text-cosmos">Your ORDER has been PLACED.</h1>
            <p class="font-normal font-semibold text-3xl p-2 pt-1 text-grullo text-center hover:text-desertsand">Our employees will connect with you, shortly.</p>
            <p class="font-mont font-bold text-7xl text-center p-3 text-red-500 hover:text-red-700">Thank you,</p>
            <p class="font-mont font-bold text-4xl text-center p-3 pt-1 text-blue-500 hover:text-blue-900">Visit again!</p>
        </div>
    </section>
    <div class="flex items-center justify-center">
        <a href="/" class="text-center"><p class="bg-cosmos text-desertsand p-4 font-cusive hover:bg-vampireblack hover:text-alabaster w-40 text-center mb-10 shadow-inner">SHOP MORE !</p></a>
    </div>
    <section class="footer">
        <div class="flex justify-start items-center bg-vampireblack">
        <div class="h-full bg-vampireblack p-8 py-10 border-r-[1px] border-grullo my-0">
            <div class=" ">
                    <a href="/">
                        <p class="text-vampireblack font-mont text-xl font-semibold p-4 bg-grullo w-44 ml-4 mb-4 hover:bg-desertsand hover:text-cosmos text-center rounded-sm">CONTACT US</p>
                    </a>
                    <p class="text-grullo font-mont text-xl p-4 pb-2 hover:text-alabaster">FIND US ON - </p>
                </div>
                <div class="flex gap-4 justify-start items-center p-4 pt-2">
                    <a href="/"><img src="/static/Images/instagram.png" alt="" class="w-12 bg-alabaster m-1 p-2 hover:bg-grullo rounded-xl"></a>
                    <a href="/"><img src="/static/Images/mail-inbox-app.png" alt="" class="w-12 bg-alabaster m-1 p-2 hover:bg-grullo rounded-xl"></a>
                    <a href="/"><img src="/static/Images/telegram.png" alt="" class="w-12 bg-alabaster m-1 p-2 hover:bg-grullo rounded-xl"></a>
                    <a href="/"><img src="/static/Images/twitter.png" alt="" class="w-12 bg-alabaster m-1 p-2 hover:bg-grullo rounded-xl"></a>
                    <a href="/"><img src="/static/Images/whatsapp.png" alt="" class="w-12 bg-alabaster m-1 p-2 hover:bg-grullo rounded-xl"></a>
                    <a href="/"><img src="/static/Images/youtube.png" alt="" class="w-12 bg-alabaster m-1 p-2 hover:bg-grullo rounded-xl"></a>
                    <div>
                    </div>
                </div>
            </div>
            <div>
                <div  class="p-12 border-r-[1px] border-grullo my-6  text-center">
                    <a href="/">
                        <p class="text-vampireblack font-mont text-xl font-semibold p-4 m-8 ml-16 mt-0 mb-12 bg-grullo w-36 hover:bg-desertsand hover:text-cosmos rounded-sm">ABOUT US</p>
                    </a>
                    <div class=" m-0">
                        <h1 class="font-cusive font-medium text-2xl text-center p-4 text-cosmos bg-desertsand"> Heartcrafted.com</h1>
                        <div class="bg-cosmos">
                            <h6 class="font-mont font-medium text-center p-1 text-xs text-timberwolf"> KNOTS | THREADS | COLOURS |
                                EMOTIONS</h6>
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="p-6 ml-12 ">
                <a href="/" class="text-grullo hover:text-alabaster font-mont m-1 p-2 ">SCRUNCHIES <br> <br></a>
                <a href="/" class="text-grullo hover:text-alabaster font-mont m-1 p-2 ">BRACELETS <br> <br></a>
                <a href="/" class="text-grullo hover:text-alabaster font-mont m-1 p-2 ">CANVASES <br> <br></a>
                <a href="/" class="text-grullo hover:text-alabaster font-mont m-1 p-2 ">GIFT YOUR WAY!</a>
            </div>
        </div>
        <div class="h-10 bg-cosmos text-desertsand text-center font-normal">
            <p class="text-sm p-2"> &copy; 2024 |  Heartcrafted.com  | All rights reserved.</p>
        </div>
    </section>
</body>
</html>